<% content_for :breadcrumb do %>
  <%= render "gobierto_people/people/content_for_person_breadcrumb" %>
  <li><%= t(".invitations") %></li>
<% end %>

<% title @person.name %>

<figure>

  <figcaption class="mb_20"><%= t(".title", person_name: @person.name) %></figcaption>

  <% if @person_invitations.any? %>

    <ul class="color-3 transparent">
      <% cache_service_fragment("#{cache_key_preffix}-invitations") do %>
        <% @person_invitations.each do |invitation| %>
          <%= render "invitation", invitation: invitation %>
        <% end %>
      <% end %>
    </ul>

  <% else %>

    <em><%= t(".no_invitations") %></em>

  <% end %>

</figure>
