<% content_for :content do %>

  <div class="theme-gencat">

    <section class="row">
      <div class="col-md-3 pull-right">
        <%= render "gobierto_people/shared/datepicker" %>
      </div>
    </section>

    <section>
      <h3 class="h3 text-left"><%= @person.name %></h3>
      <p><%= @person.charge %></p>
    </section>

    <section class="row">

      <div class="col-md-4">
        <%= render "gobierto_people/people/navigation" %>
      </div>

      <div class="col-md-8">
        <%= yield %>
      </div>

    </section>

    <%= render "gobierto_people/shared/open_data_link_footer" %>

  </div>

<% end %>

<%= render template: "gobierto_people/layouts/application" %>
