<% content_for :content do %>

  <section class="row">
    <div class="col-md-3 pull-right">
      <%= render "gobierto_people/shared/datepicker" %>
    </div>
  </section>

  <section>
    <h3 class="h3 text-left">
      <%= link_to @person.name, gobierto_people_person_path(@person.slug) %>
    </h3>
    <p><%= @person.charge %></p>
  </section>

  <section class="row">

    <div class="col-md-4">
      <%= render "gobierto_people/people/navigation" %>
    </div>

    <div class="col-md-8">
      <%= yield %>
    </div>

  </section>

  <%= render "gobierto_people/shared/open_data_footer" %>

<% end %>

<%= render template: "gobierto_people/layouts/application" %>
