<% content_for :content do %>

  <section class="row js-container-fixed">
    <div class="col-md-9">
      <p><%= @person.charge %></p>
    </div>
    <div class="col-md-3">
      <%= render "gobierto_people/shared/datepicker" %>
    </div>
  </section>

  <section class="row">

    <div class="col-md-4">
      <%= render "gobierto_people/people/navigation" %>
    </div>

    <div class="col-md-8">
      <%= yield %>
    </div>

  </section>

  <%= render "gobierto_people/shared/open_data_footer" %>

<% end %>

<%= render template: "gobierto_people/layouts/application" %>
