<section class="row">
  <div class="col-md-9">
    <%= render "gobierto_people/shared/breadcrumb" %>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section>
  <h3 class="h3 text-left"><% @department.name %></h3>
</section>

<section class="row">
  <div class="col-md-5">
    <div class="box color-1">
      <div>
        <h1><%= @department.events.count %></h1>
        <h5>
          <div><strong>reunions registrades</strong></div>
        </h5>
      </div>
      <div class="margin_top_xs">
        <span>Alts càrrec amb més reunions</span>
        <div id="department_people_events_rowchart" class="rowchart"></div>
      </div>
    </div>
    <div class="margin_top_xs">
      <a href="" class="show-more bg-danger"><small>Veure tot</small></a>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <div class="box color-3">
      <div>
        <h1>6.344</h1>
        <h5>
          <div><strong>reunions registrades</strong></div>
        </h5>
      </div>
      <div class="margin_top_xs">
        <span>Grups d' Interès amb més reunions</span>
        <div id="department_interest_groups_events_rowchart" class="rowchart"></div>
      </div>
    </div>
    <div class="margin_top_xs">
      <a href="" class="show-more bg-danger"><small>Veure tot</small></a>
    </div>
  </div>
</section>

<section id="map-chart">
  <p><strong>¿Cap a on viatgen els alts carrècs?</strong></p>
  <%= render "gobierto_people/shared/map" %>
  <div class="margin_top_xs">
    <a href="" class="show-more bg-info"><small>Veure tot</small></a>
  </div>
  <div id="department_people_events_punchcard" class="punchcard color-2 transparent"></div>
</section>

<section class="row">
  <a href="" class="col-md-12 bg-danger p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>

<%= javascript_tag do %>
  window.GobiertoPeople.gencat_departments_controller.show({
    department_people_events_rowchart_api_url: '<%= gobierto_people_api_v1_people_url(department_id: @department.id) %>',
    department_interest_groups_rowchart_api_url: '<%= gobierto_people_api_v1_interest_groups_url(department_id: @department.id) %>',
    department_people_events_punchcard_api_url: '<%= gobierto_people_api_v1_people_url(include_history: true, department_id: @department.id) %>'
  });
<% end %>
