<section class="row">
  <div class="col-md-9">
    <%= render "gobierto_people/shared/breadcrumb" %>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section>
  <h3 class="h3 text-left"><%= t("gobierto_people.layouts.menu_subsections.departments") %></h3>
  <p>Cualquier organización que se reune con un alto cargo debe registrarse como grupo de interés, y se crea un registro de los encuentros. Aprende más sobre la Normativa de Grupos de Interés. Explora las organizaciones (empresas, fundaciones, asociaciones…) que se reunen con cargos de la Generalitat. </p>
</section>

<section class="row">

  <div class="col-md-5">
    <div class="box color-1">
      <div>
        <h1><%= number_with_delimiter(@total_events) %></h1>
        <h5>
          <div><strong><%= t("gobierto_people.departments.index.events") %></strong></div>
        </h5>
      </div>
    </div>

    <div class="margin_top_xs">
      <p>Departaments amb més reunions</p>
      <div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart color-1"></div>
    </div>

    <div class="margin_top_xs">
      <p>Consulta les reunions</p>
      <a href="" class="show-more bg-danger"><small>Veure tot</small></a>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-2">
    <div class="box color-3">
      <div>
        <h1><%= number_with_delimiter(@total_people) %></h1>
        <h5>
          <div><strong><%= t("gobierto_people.departments.index.people_with_events") %></strong></div>
        </h5>
      </div>
    </div>

    <div class="margin_top_xs">
      <p><%= t("gobierto_people.departments.index.people_events") %></p>
      <div id="people_events_rowchart" class="rowchart color-3"></div>
    </div>

    <div class="margin_top_xs">
      <p>Consulta les reunions</p>
      <a href="" class="show-more bg-danger"><small>Veure tot</small></a>
    </div>
  </div>

</section>

<section>
  <!--<div id="departments_events_punchcard" class="punchcard color-2 transparent"></div>-->
</section>

<section class="row">
  <a href="" class="col-md-12 bg-danger p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>

<%= javascript_tag do %>
  window.GobiertoPeople.gencat_departments_controller.index({
    people_events_api_url: '<%= gobierto_people_api_v1_people_url %>'
  });
<% end %>
