<% content_for :breadcrumb do %>
  <li><%= title t(".title") %></li>
<% end %>

<% content_for :disable_turbolinks_hook do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<section class="row">
  <div class="col-md-9">
    <p><%== t(".description") %></p>
  </div>
  <div class="col-md-3 pull-right">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section class="row">
  <div class="fpca_distribuidora pd-30">
    <div class="llistat_destacat_text_avancat">
      <div class="llistat_col-lg-3 nova-altura-dist">
        <div class="corrector-margins col-md-6 js-rowchart-component">
          <div class="box color-1 distribuidora-nova-3">

            <div class="color-decorator">
              <h1><%= number_with_delimiter(@total_events) %></h1>
              <h5>
                <div><strong><%= t(".events") %></strong></div>
              </h5>
            </div>

            <div class="margin_top_xs">
              <span><%= t(".events_by_department") %></span>
              <div id="departments_events_rowchart" class="rowchart"></div>
            </div>

          </div>

          <div class="margin_top_xs js-reload-rowchart-wrapper">
            <p><%= t(".explore_departments") %></p>
            <%= link_to gobierto_people_departments_path(date_range_params) do %>
              <small><%= t("gobierto_people.shared.view_all") %></small>
            <% end %>
          </div>
        </div>
        <div class="corrector-margins col-md-6">
          <div class="box color-3 distribuidora-nova-3">
            <div class="color-decorator">
              <%= link_to gobierto_people_people_path(date_range_params), class: "no-link" do %>
                <h1><%= number_with_delimiter(@total_people) %></h1>
              <% end %>
              <h5>
                <div><strong><%= t(".people_with_events") %></strong></div>
              </h5>
            </div>
            <div class="margin_top_xs js-rowchart-component">
              <span><%= t(".people_events") %></span>
              <div id="people_events_rowchart" class="rowchart"></div>
            </div>
          </div>
          <div class="margin_top_xs">
            <p><%= t(".explore_people") %></p>
            <%= link_to gobierto_people_people_path(date_range_params) do %>
            <small><%= t("gobierto_people.shared.view_all") %></small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div id="department_people_events_punchcard" class="punchcard color-2 transparent"></div>
</section>

<%= render "gobierto_people/shared/open_data_footer" %>

<%= javascript_tag do %>
  departmentsIndexArgs = {
    people_events_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date) %>',
    department_people_events_punchcard_api_path: '<%= gobierto_people_api_v1_departments_path(from_date: filter_start_date, to_date: filter_end_date, include_history: true, limit: 14) %>',
    departments_events_api_path: '<%= gobierto_people_api_v1_departments_path(from_date: filter_start_date, to_date: filter_end_date) %>'
  }
<% end %>
