<div class="theme-gencat">
  <section class="row">
    <div class="col-md-3">
      <%= render "gobierto_people/shared/datepicker" %>
    </div>
  </section>

  <section>
    <h3 class="h3 text-left"><%= t("gobierto_people.layouts.menu_subsections.departments") %></h3>
    <p><%== t(".description") %></p>
  </section>

  <section class="row">

    <div class="col-md-5">
      <div class="box color-1">
        <div>
          <h1><%= number_with_delimiter(@total_events) %></h1>
          <h5>
            <div><strong><%= t(".events") %></strong></div>
          </h5>
        </div>
      </div>

      <div class="margin_top_xs">
        <p><%= t(".events_by_department") %></p>
        <div id="departments_events_rowchart" class="rowchart color-1"></div>
      </div>

      <div class="margin_top_xs">
        <p><%= t(".explore_departments") %></p>
        <a href="" class="show-more bg-danger"><small><%= t(".view_all") %></small></a>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
      <div class="box color-3">
        <div>
          <h1><%= number_with_delimiter(@total_people) %></h1>
          <h5>
            <div><strong><%= t(".people_with_events") %></strong></div>
          </h5>
        </div>
      </div>

      <div class="margin_top_xs">
        <p><%= t(".people_events") %></p>
        <div id="people_events_rowchart" class="rowchart color-3"></div>
      </div>

      <div class="margin_top_xs">
        <p><%= t(".explore_people") %></p>
        <a href="" class="show-more bg-danger"><small><%= t(".view_all") %></small></a>
      </div>
    </div>

    <div id="department_people_events_punchcard" class="punchcard color-2 transparent"></div>
  </section>

  <section>
    <!--<div id="departments_events_punchcard" class="punchcard color-2 transparent"></div>-->
  </section>

  <section class="row">
    <a href="" class="col-md-12 bg-danger p_2"><%= t(".open_data_web_portal") %></a>
  </section>
  <%= javascript_tag do %>
    window.GobiertoPeople.gencat_departments_controller.index({
    people_events_api_path: '<%= gobierto_people_api_v1_people_path %>',
    department_people_events_punchcard_api_path: '<%= gobierto_people_api_v1_departments_path(include_history: true, limit: 14) %>',
    departments_events_api_path: '<%= gobierto_people_api_v1_departments_path %>'
    });
  <% end %>
</div>
