<% content_for :breadcrumb do %>
  <li><%= link_to t("gobierto_people.departments.index.title"), gobierto_people_departments_path(date_range_params) %></li>
  <li><%= title @department.name %></li>
<% end %>

<section class="row">
  <div class="col-md-9">
    <p><h3 class="h3 text-left"><%= @department.name %></h3></p>
  </div>
  <div class="col-md-3 pull-right">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section>
  <div class="fpca_distribuidora pd-30">
    <div class="llistat_destacat_text_avancat">
      <div class="llistat_col-lg-3 nova-altura-dist">
        <div class="corrector-margins col-md-6">
          <div class="box color-1 distribuidora-nova-3">

            <div class="color-decorator">
              <%= link_to gobierto_people_department_people_path(@department, date_range_params), data: { turbolinks: false }, class: "no-link" do %>
                <h1><%= @department_stats[:total_people_with_attendances] %></h1>
              <% end %>
              <h5>
                <p><strong><%= t(".people_box_title") %></strong></p>
                <p><%= t(".people_box_subtitle") %></p>
              </h5>
            </div>

            <div class="margin_top_xs js-rowchart-component">
              <span><%= t(".people_rowchart_title") %></span>
              <div id="department_people_events_rowchart" class="rowchart"></div>
            </div>

          </div>
          <div class="margin_top_xs js-reload-rowchart-wrapper">
            <%= link_to gobierto_people_department_people_path(@department, date_range_params), class: "show-more color-1", data: { turbolinks: false } do %>
              <small><%= t("gobierto_people.shared.view_all") %></small>
            <% end %>
          </div>
        </div>
        <div class="corrector-margins col-md-6">
          <div class="box color-3 distribuidora-nova-3">
            <div class="color-decorator">
              <h1><%= @department_stats[:unique_interest_groups] %></h1>
              <h5>
                <p><strong><%= t(".interest_groups_box_title") %></strong></p>
                <p><%= t(".interest_groups_box_subtitle") %></p>
              </h5>
            </div>
            <div class="margin_top_xs js-rowchart-component">
              <span><%= t(".interest_groups_rowchart_title") %></span>
              <div id="department_interest_groups_events_rowchart" class="rowchart"></div>
            </div>
          </div>
          <div class="margin_top_xs">
            <%= link_to gobierto_people_interest_groups_path(date_range_params), class: "show-more color-3", data: { turbolinks: false } do %>
              <small><%= t("gobierto_people.shared.view_all") %></small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map-chart">
  <p><strong><%= t(".map_title") %></strong></p>

  <%= render "gobierto_people/shared/map" %>

  <div class="margin_top_xs">
    <%= link_to gobierto_people_trips_path(date_range_params), class: "show-more color-2", data: { turbolinks: false } do %>
      <small><%= t("gobierto_people.shared.view_all") %></small>
    <% end %>
  </div>
</section>

<section>
  <div id="department_people_events_punchcard" class="punchcard color-2 transparent"></div>
</section>

<%= render "gobierto_people/shared/open_data_footer" %>

<%= javascript_tag do %>
  window.GobiertoPeople.gencat_departments_controller.show({
    department_people_events_rowchart_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date, department_id: @department.id) %>',
    department_interest_groups_rowchart_api_path: '<%= gobierto_people_api_v1_interest_groups_path(from_date: filter_start_date, to_date: filter_end_date, department_id: @department.id) %>',
    department_people_events_punchcard_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date, include_history: true, department_id: @department.id) %>'
  });
<% end %>
