<% content_for :breadcrumb do %>
  <li><%= title @department.name %></li>
<% end %>

<% content_for :disable_turbolinks_hook do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<section class="row js-container-fixed">
  <div class="col-md-9">
    <p></p>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-md-4">
    <div class="box color-1 distribuidora-nova-3">
      <div class="color-decorator">
        <h1><strong><%= number_with_delimiter @department_stats[:total_meetings] %></strong></h1>
        <div>
          <div><strong><%= simple_pluralize(@department_stats[:total_meetings], t(".meetings_box_title_single"), t(".meetings_box_title")) %></strong></div>
          <div class="soft"><%= t(".meetings_box_subtitle") %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="box color-2 distribuidora-nova-3">
      <div class="color-decorator">
        <h1><strong><%= number_with_delimiter @department_stats[:unique_interest_groups] %></strong></h1>
        <div>
          <div><strong><%= simple_pluralize(@department_stats[:unique_interest_groups], t(".interest_groups_box_title_single"), t(".interest_groups_box_title")) %></strong></div>
          <div class="soft"><%= t(".interest_groups_box_subtitle") %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="box color-3 distribuidora-nova-3">
      <div class="color-decorator">
        <h1><strong><%= number_with_delimiter @department_stats[:total_people_with_attendances] %></strong></h1>
        <div>
          <div><strong><%= simple_pluralize(@department_stats[:total_people_with_attendances], t(".people_box_title_single"), t(".people_box_title")) %></strong></div>
          <div class="soft"><%= t(".people_box_subtitle") %></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <div class="rectangle--container js-people-rectangles"></div>
  </div>
</section>

<% if trips_submodule_active? %>
  <section id="map-chart">
    <p><strong><%= t(".map_title") %></strong></p>

    <%= render(
          "gobierto_people/shared/map",
          trips_statistics: {
            total_trips: @department.trips_count,
            total_unique_destinations: @department.trips_unique_destinations_count
          }
        ) %>
  </section>
<% end %>

<%= render(
      "gobierto_people/shared/invitations_and_gifts",
      invitations: @department.invitations,
      gifts: @department.gifts
    ) %>

<%= render "gobierto_people/shared/open_data_footer" %>

<%= javascript_tag do %>
  mapControllerIndexParams = {
    cartoDatabaseName: 'gencat_trips_<%= Rails.env.development? ? "staging" : Rails.env %>',
    fromDate: '<%= filter_start_date.try(:iso8601) %>',
    toDate: '<%= filter_end_date.try(:iso8601) %>',
    departmentId: '<%= @department.id %>'
  }

  departmentsShowArgs = {
    department_people_events_rowchart_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date, department_id: @department.id) %>',
    department_interest_groups_rowchart_api_path: '<%= gobierto_people_api_v1_interest_groups_path(from_date: filter_start_date, to_date: filter_end_date, department_id: @department.id) %>',
    department_people_events_punchcard_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date, include_history: true, department_id: @department.id) %>'
  }
<% end %>
