<li class="table-item" <%= local_assigns[:id] ? "id=#{id}" : nil %>>

  <div class="row">

    <div class="<%= meaningful_date_range?(dates, only_date: true) ? 'col-md-8' : 'col-md-10' %>">
      <p><strong><%= title %></strong></p>

      <% if local_assigns[:subtitle] %>
        <p><%= truncate(subtitle, length: 50) %></p>
      <% end %>
    </div>

    <% if meaningful_date_range?(dates, only_date: true) %>

      <div class="col-md-4">
        <p><%= l(dates.first, format: "%-d/%-m/%Y") %> → <%= l(dates.last, format: "%-d/%-m/%Y") %></p>
      </div>

    <% else %>

      <div class="col-md-2">
        <p><%= l(dates.is_a?(Array) ? dates.first : dates, format: "%-d/%-m/%Y") %></p>
      </div>

    <% end %>

    <% if local_assigns[:item_details_path] %>
      <div class="pull-right">
        <%= link_to item_details_path do %>
          <small><%= t("gobierto_people.shared.view_details") %></small>
        <% end %>
      </div>
    <% end %>

  </div>

</li>
