<li class="table-item" <%= local_assigns[:id] ? "id=#{id}" : nil %>>

  <div class="row">

    <div class="<%= meaningful_date_range?(dates, only_date: true) ? 'col-md-6' : 'col-md-8' %>">
      <% if local_assigns[:title] %>
        <strong><%= title %></strong>
      <% end %>

      <% if local_assigns[:charge] %>
        <div><%= charge.name %>
      <% end %>

      <% if local_assigns[:subtitle] %>
        <div><%= subtitle %></div>
      <% end %>

      <% if local_assigns[:from] %>
        <div><i><%= t("gobierto_people.shared.from") %>:</i>&nbsp;<%= from %></div>
      <% end %>

      <% if local_assigns[:to] %>
        <div><i><%= t("gobierto_people.shared.to") %>:</i>&nbsp;<%= to %></div>
      <% end %>
    </div>

    <% if !local_assigns[:item_details_path] %>
      <div class="col-md-2"></div>
    <% end %>

    <% if meaningful_date_range?(dates, only_date: true) %>

      <div class="col-md-4 text-right">
        <p><strong><%= l(dates.first, format: "%-d/%-m/%Y") %></strong> → <strong><%= l(dates.last, format: "%-d/%-m/%Y") %></strong></p>
      </div>

    <% else %>

      <div class="col-md-2 text-right">
        <p><strong><%= l(dates.is_a?(Array) ? dates.first : dates, format: "%-d/%-m/%Y") %></strong></p>
      </div>

    <% end %>

    <% if local_assigns[:item_details_path] %>
      <div class="col-md-2 text-right">
        <%= link_to item_details_path do %>
          <u><small><%= t("gobierto_people.shared.view_details") %></small></u>
        <% end %>
      </div>
    <% end %>

  </div>

</li>
