<ul class="toggle-container">

  <% unless @person.meetings_with_interest_groups(start_date: filter_start_date, end_date: filter_end_date).count.zero? %>
    <li class="color-1 <%= class_if('active', ['person_events', 'past_person_events'].include?(controller_name)) %>">
      <%= link_to gobierto_people_person_past_events_path(@person.slug, date_range_params.merge(page: false)), class: "no-link", data: { turbolinks: false } do %>
        <h1 class="h1"><%= @person.meetings_with_interest_groups(start_date: filter_start_date, end_date: filter_end_date).count %></h1>
        <div>
          <strong>
            <%= simple_pluralize(@person.meetings_with_interest_groups(start_date: filter_start_date, end_date: filter_end_date).count, t(".meeting_with"), t(".meetings_with")) %>
          </strong><br> <%= pluralize(@person.interest_groups_count(start_date: filter_start_date, end_date: filter_end_date), t(".interest_group"), t(".interest_groups")) %>
        </div>
      <% end %>
    </li>
  <% end %>

  <% unless @person.trips.between_dates(filter_start_date, filter_end_date).count.zero? %>
    <li class="color-2 <%= class_if('active', controller_name == 'trips') %>">
      <%= link_to gobierto_people_person_trips_path(@person.slug, date_range_params), class: "no-link", data: { turbolinks: false } do %>
        <h1 class="h1"><%= @person.trips.between_dates(filter_start_date, filter_end_date).count %></h1>
        <div><strong><%= simple_pluralize(@person.trips.between_dates(filter_start_date, filter_end_date).count, t(".trip_made"), t(".trips_made")) %></strong></div>
      <% end %>
    </li>
  <% end %>

  <% unless @person.invitations.between_dates(filter_start_date, filter_end_date).count.zero? %>
    <li class="color-3 <%= class_if('active', controller_name == 'invitations') %>">
      <%= link_to gobierto_people_person_invitations_path(@person.slug, date_range_params), class: "no-link", data: { turbolinks: false } do %>
        <h1 class="h1"><%= @person.invitations.between_dates(filter_start_date, filter_end_date).count %></h1>
        <div><strong><%= simple_pluralize(@person.invitations.between_dates(filter_start_date, filter_end_date).count, t(".invitation"), t(".invitations")) %></strong></div>
      <% end %>
    </li>
  <% end %>

  <% unless @person.received_gifts.between_dates(filter_start_date, filter_end_date).count.zero? %>
    <li class="color-4 <%= class_if('active', controller_name == 'gifts') %>">
      <%= link_to gobierto_people_person_gifts_path(@person.slug, date_range_params), class: "no-link", data: { turbolinks: false } do %>
        <h1 class="h1"><%= @person.received_gifts.between_dates(filter_start_date, filter_end_date).count %></h1>
        <div><strong><%= simple_pluralize(@person.received_gifts.between_dates(filter_start_date, filter_end_date).count, t(".gift_received"), t(".gifts_received")) %></strong></div>
      <% end %>
    </li>
  <% end %>

</ul>
