<li class="table-item" id="<%= trip.to_anchor %>">

  <div class="row">
    <div class="col-md-8">
      <strong><p><%= trip.original_destinations_attribute %></p></strong>
      <p><%= trip.purpose %></p>
    </div>

    <div class="col-md-4 text-right">
      <strong>
        <% if meaningful_date_range?(trip.duration_dates, only_date: true) %>
          <p><%= trip.formatted_start_date %> → <%= trip.formatted_end_date %></p>
        <% else %>
          <p><%= trip.formatted_start_date %></p>
        <% end %>
      </strong>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <p><%= trip.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="col-md-6">
        <div class="row"><strong><%= t(".company") %></strong></div>

        <% if trip.company_members.any? %>
          <% trip.company_members.each do |member| %>
            <div class="row"><%= member %></div>
          <% end %>
        <% else %>
          -
        <% end %>
      </div>


      <div class="col-md-6">
        <div class="row"><strong><%= t(".expenses") %></strong></div>

        <% if trip.expenses.any? %>
          <% trip.expenses.each do |expense| %>
            <% unless expense[:amount].zero? %>
              <div class="row">
                <div class="row">
                  <div class="col-md-6"><%= expense[:kind] %></div>
                  <div class="col-md-6 text-right"><strong><%= number_with_delimiter(expense[:amount]) %></strong></div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          -
        <% end %>
      </div>

    </div>
  </div>

</li>
