<% content_for :breadcrumb do %>
  <li><%= title t(".title") %></li>
<% end %>

<% content_for :disable_turbolinks_hook do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<section class="row js-container-fixed">
  <div class="col-md-9">
    <p><%= t(".description", link: "https://web.gencat.cat/es/tramits/tramits-temes/registre-grups-interes?vmode=normativa").html_safe %></p>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<% pending do %>
  <section class="row">
    MISSING
  </section>
<% end %>

<section class="js-rowchart-component">
  <p><strong><%= t(".rowchart_title") %></strong></p>

  <% if @interest_groups.any? %>
    <div id="interest_groups_events_rowchart" class="rowchart color-2"></div>

    <div class="margin_top_xs js-reload-rowchart-wrapper">
      <%= link_to gobierto_people_interest_groups_path(date_range_params) do %>
        <small><%= t("gobierto_people.shared.view_all") %></small>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-warning">
      <small><%= t(".no_data") %></small>
    </div>
  <% end %>
</section>

<%= render "gobierto_people/shared/open_data_footer" %>

<%= javascript_tag do %>
  interestGroupsIndexArgs = {
    interest_groups_events_rowchart_api_path: "<%= gobierto_people_api_v1_interest_groups_path(from_date: filter_start_date, to_date: filter_end_date, limit: 20) %>"
  }
<% end %>
