<div class="theme-gencat">

  <section class="row">
    <div class="col-md-3">
      <%= render "gobierto_people/shared/datepicker" %>
    </div>
  </section>

  <section>
    <h3 class="h3 text-left"><%= t(".title") %></h3>
    <p><%= t(".description", link: "https://web.gencat.cat/es/tramits/tramits-temes/registre-grups-interes?vmode=normativa").html_safe %></p>
  </section>

  <section>
    MISSING
  </section>

  <section>
    <p><strong><%= t(".rowchart_title") %></strong></p>
    <div id="interest_groups_events_rowchart" class="rowchart color-2"></div>
    <div class="margin_top_xs">
      <a href="" class="show-more bg-info"><small>Veure tot</small></a>
    </div>
  </section>

  <%= render "gobierto_people/shared/open_data_footer" %>
</div>

<%= javascript_tag do %>
  window.GobiertoPeople.gencat_interest_groups_controller.index({
    interest_groups_events_rowchart_api_path: '<%= gobierto_people_api_v1_interest_groups_path(limit: 20) %>'
  });
<% end %>
