<div class="theme-gencat">
  <section class="row">
    <div class="col-md-3">
      <%= render "gobierto_people/shared/datepicker" %>
    </div>
  </section>

  <section>
    <h3 class="h3 text-left"><%= @interest_group.name %></h3>
    <p><%= t(".status", status: @interest_group.status) %></p>
  </section>

  <section class="row">
    <div class="col-md-5">
      <div class="box color-1">
        <div>
          <h1><%= number_with_delimiter(@total_events) %></h1>
          <h5>
            <div><strong><%= t(".events") %></strong></div>
          </h5>
        </div>
      </div>
      <div class="margin_top_xs">
        <p><%= t(".events_by_department") %></p>
        <div id="departments_events_rowchart" class="rowchart color-1"></div>
      </div>
      <div class="margin_top_xs">
        <p><%= t(".explore_departments") %></p>
        <%= link_to gobierto_people_departments_path, class: "show-more bg-danger", data: { turbolinks: false } do %>
          <small><%= t("gobierto_people.shared.view_all") %></small>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <div class="box color-3">
        <div>
          <h1><%= number_with_delimiter(@total_people) %></h1>
          <h5>
            <div><strong><%= t(".people_with_events") %></strong></div>
          </h5>
        </div>
      </div>
      <div class="margin_top_xs">
        <p><%= t(".events_by_person") %></p>
        <div id="people_events_rowchart" class="rowchart color-3"></div>
      </div>
      <div class="margin_top_xs">
        <p><%= t(".explore_people") %></p>
        <%= link_to gobierto_people_events_path, class: "show-more bg-danger", data: { turbolinks: false } do %>
          <small><%= t("gobierto_people.shared.view_all") %></small>
        <% end %>
      </div>
    </div>
  </section>

  <section>
    <div id="interest_group_people_events_punchcard" class="punchcard color-2 transparent"></div>
  </section>

  <%= render "gobierto_people/shared/open_data_link_footer" %>
</div>
<%= javascript_tag do %>
  window.GobiertoPeople.gencat_interest_groups_controller.show({
    departments_events_rowchart_api_path: '<%= gobierto_people_api_v1_departments_path(interest_group_id: @interest_group.id) %>',
    people_events_rowchart_api_path: '<%= gobierto_people_api_v1_people_path(interest_group_id: @interest_group.id) %>',
    interest_group_people_events_punchcard_api_path: '<%= gobierto_people_api_v1_people_path(include_history: true, interest_group_id: @interest_group.id, limit: 14) %>'
  });
<% end %>
