<div class="datepicker-container js-datepicker-container">
  <div>
    <input id="datepicker" class="air-datepicker datapicker-here" type="text" readonly/>
    <span class="caret"></span>
  </div>
  <ul class="datepicker-defaults">
    <li><a id="1m"><%= t(".1m") %></a></li>
    <li><a id="3m"><%= t(".3m") %></a></li>
    <li><a id="1y"><%= t(".1y") %></a></li>
    <li><a id="all"><%= t(".all") %></a></li>
    <li><a id="range"><%= t(".range") %></a></li>
  </ul>
</div>
