<section class="row">

  <div class="col-md-6" id="gifts-wrapper">
    <section>
      <p><strong><%= t("gobierto_people.gifts.title") %></strong></p>
      <p><%= t("gobierto_people.gifts.description") %></p>
      <div class="alert alert-warning">
        <small><%= t("gobierto_people.gifts.title") %> <%= render 'gobierto_people/shared/code_of_conduct_link' %></small>
      </div>
    </section>

    <% if gifts.any? %>
      <figure>
        <figcaption class="mb_20"><%= t("gobierto_people.gifts.last") %></figcaption>
        <ul class="color-4 transparent mb_20">
          <% gifts.each do |gift| %>
            <%= render(
                  "gobierto_people/shared/table_item",
                  title: gift.name,
                  resource: gift,
                  resource_path: gobierto_people_person_gifts_path(
                    gift.person.slug,
                    { anchor: gift.to_anchor }.merge(date_range_params)
                  ),
                  display_date: gift.date
                ) %>
          <% end %>
        </ul>
      </figure>

      <%= link_to gobierto_people_people_path do %>
        <small><%= t("gobierto_people.shared.view_officials") %></small>
      <% end %>
    <% else %>
      <em><%= t("gobierto_people.gifts.none") %></em>
    <% end %>
  </div>

  <div class="col-md-6" id="invitations-wrapper">
    <section>
      <p><strong><%= t("gobierto_people.invitations.title") %></strong></p>
      <p><%= t("gobierto_people.invitations.description") %></p>
      <div class="alert alert-warning">
        <small><%= t("gobierto_people.invitations.coc") %> <%= render 'gobierto_people/shared/code_of_conduct_link' %></small>
      </div>
    </section>

    <% if invitations.any? %>
      <figure>
        <figcaption class="mb_20"><%= t("gobierto_people.invitations.last") %></figcaption>
        <ul class="color-3 transparent mb_20 mb_20">
          <% invitations.each do |invitation| %>
            <%= render(
                  "gobierto_people/shared/table_item",
                  title: invitation.title,
                  resource: invitation,
                  resource_path: gobierto_people_person_invitations_path(
                    invitation.person.slug,
                    { anchor: invitation.to_anchor }.merge(date_range_params)
                  ),
                  display_date_range: [invitation.start_date, invitation.end_date]
                ) %>
          <% end %>
        </ul>
      </figure>

      <%= link_to gobierto_people_people_path do %>
        <small><%= t("gobierto_people.shared.view_officials") %></small>
      <% end %>
    <% else %>
      <em><%= t("gobierto_people.invitations.none") %></em>
    <% end %>
  </div>

</section>
