<section class="row">
  <div class="col-md-12 bg-danger p_2">

    <%= t(".title") %>:

    <%= link_to(
      t(".meetings"),
      "https://analisi.transparenciacatalunya.cat/Sector-P-blic/Codi-de-conducta-dels-alts-c-rrecs-Agenda-p-blica-/hd8k-y28e",
      target: "_blank"
    ) %> -
    <%= link_to(
      t(".gifts"),
      "https://analisi.transparenciacatalunya.cat/Sector-P-blic/Codi-de-conducta-dels-alts-c-rrecs-Obsequis/std5-i2zv",
      target: "_blank"
    ) %> -
    <%= link_to(
      t(".invitations"),
      "https://analisi.transparenciacatalunya.cat/Sector-P-blic/Codi-de-conducta-dels-alts-c-rrecs-Invitacions-a-v/sdnv-univ",
      target: "_blank"
    ) %> -
    <%= link_to(
      t(".trips"),
      "#",
      target: "_blank"
    ) %>

  </div>
</section>
