<section class="row">
  <div class="col-md-12 bg-danger p_2">
    <%= t("gobierto_people.shared.view_open_data_portal") %>:
    <%= render "gobierto_people/shared/open_data_portal_links/events" %> -
    <%= render "gobierto_people/shared/open_data_portal_links/gifts" %> -
    <%= render "gobierto_people/shared/open_data_portal_links/invitations" %> -
    <%= render "gobierto_people/shared/open_data_portal_links/trips" %>
  </div>
</section>
