<li class="table-item">
  <div class="row">

    <% if local_assigns[:display_date_range] && (display_date_range.first != display_date_range.last) %>
      <% displayable_dates = display_date_range %>
      <% dispay_range = true %>
    <% else %>
      <% displayable_dates = [local_assigns[:display_date] || display_date_range.first] %>
      <% dispay_range = false %>
    <% end %>

    <div class="<%= dispay_range ? 'col-md-7' : 'col-md-9' %>">
      <strong><%= link_to title, resource_path, class: "no-link" %></strong>
      <div><%= link_to resource.person_name_with_charge, "#{ resource.person.to_path }#{ "?#{ date_range_params.to_query }" if date_range_params.present? }", class: "no-link" %></div>

      <% if local_assigns[:from] %>
        <div><i><%= t("gobierto_people.shared.from") %>:</i>&nbsp;<%= local_assigns[:from] %></div>
      <% end %>

      <% if local_assigns[:to] %>
        <div><i><%= t("gobierto_people.shared.to") %>:</i>&nbsp;<%= local_assigns[:to] %></div>
      <% end %>
    </div>

    <div class="<%= dispay_range ? 'col-md-5' : 'col-md-3' %> text-right">

      <strong>
        <% if dispay_range %>
            <%= l(displayable_dates.first, format: "%-d/%-m/%Y") %> → <%= l(displayable_dates.last, format: "%-d/%-m/%Y") %>
        <% else %>
            <%= l(displayable_dates.first, format: "%-d/%-m/%Y") %>
        <% end %>
      </strong>

      <%= link_to resource_path do %>
        <div><u><small><%= t(".view_details") %></small></u></div>
      <% end %>

    </div>
  </div>
</li>
