<section class="row">
  <p class="col-md-9">Des d’aquí podeu accedir a informació exhaustiva sobre la relació de llocs de treball dels empleats públics, quants n’hi ha</p>
  <div class="col-md-3">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section>
  <div class="fpca_distribuidora pd-30">
    <div class="llistat_destacat_text_avancat">
      <div class="llistat_col-lg-3 nova-altura-dist">

        <div class="col-xs-12 corrector-margins col-sm-4">
          <div class="box color-1 distribuidora-nova-3">

            <div class="color-decorator">
              <h1><%= number_with_delimiter @home_statistics[:total_events] %></h1>
              <h5>
                <div><strong>reunions registrades</strong></div>
              </h5>
            </div>

            <div class="margin_top_xs">
              <span>Departaments amb més reunions</span>
              <div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
            </div>

          </div>
        </div>

        <div class="col-xs-12 corrector-margins col-sm-4">
          <div class="box color-2 distribuidora-nova-3">

            <div class="color-decorator">
              <h1><%= number_with_delimiter @home_statistics[:total_interest_groups] %></h1>
              <h5>
                <div><strong>grups d'interès inscrits</strong></div>
                <span>o en procès</span>
              </h5>
            </div>

            <div class="margin_top_xs">
              <span>Grups d'interès amb més reunions</span>
              <div id="interest_groups_events_rowchart" class="rowchart"></div>
            </div>

          </div>
        </div>

        <div class="col-xs-12 corrector-margins col-sm-4">
          <div class="box color-3 distribuidora-nova-3">

            <div class="color-decorator">
              <h1><%= number_with_delimiter @home_statistics[:total_people_with_attendances] %></h1>
              <h5>
                <div><strong>alts càrrecs</strong></div>
                <span>amb reunions registrades</span>
              </h5>
            </div>

            <div class="margin_top_xs">
              <span>Alts càrrec amb més reunions</span>
              <div id="people_events_rowchart" class="rowchart"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<hr>
<section id="map-chart">
  <p><strong>¿Cap a on viatgen els alts carrècs?</strong></p>
  <%= render "gobierto_people/shared/map" %>
  <div id="people_events_punchcard" class="punchcard color-2 transparent"></div>
</section>
<hr>
<section class="row">

  <div class="col-md-6">
    <section>
      <p><strong>Regals</strong></p>
      <p>Los Altos cargos reciben obsequios como cortesia de organizaciones con las que se reunen. Aquí tienes el inventario de lo que se ha recibido</p>
      <div class="alert alert-warning">
        <small>El Código de Conducta regula qué regalos se pueden recibir. Consúltalo</small>
      </div>
    </section>

    <figure>
      <figcaption class="mb_20">Últims obsequis</figcaption>
      <ul class="color-3 transparent">
        <% @gifts.each do |gift| %>
          <%= render(
                "table-item",
                title: gift.name,
                resource: gift,
                display_date: gift.date
              ) %>
        <% end %>
      </ul>
    </figure>

    <div class="pd-15">
      <%= link_to gobierto_people_gifts_path, class: "show-more color-3", data: { turbolinks: false } do %>
        <small>Veure tot</small>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <section>
      <p><strong>Invitacions</strong></p>
      <p>Los Altos cargos reciben invitaciones a eventos, para realizar visitas, dar conferencias... Aquí tienes una relación de las invitaciones aceptadas.</p>
      <div class="alert alert-warning">
        <small>El Código de Conducta regula qué invitaciones se pueden aceptar. Consúltalo</small>
      </div>
    </section>

    <figure>
      <figcaption class="mb_20">Últimes invitacions</figcaption>
      <ul class="color-3 transparent">
        <% @invitations.each do |invitation| %>
          <%= render(
                "table-item",
                title: invitation.title,
                resource: invitation,
                display_date_range: [invitation.start_date, invitation.end_date]
              ) %>
        <% end %>
      </ul>
    </figure>

    <div class="pd-15">
      <%= link_to gobierto_people_invitations_path, class: "show-more color-3", data: { turbolinks: false } do %>
        <small>Veure tot</small>
      <% end %>
    </div>
  </div>

</section>

<section class="row">
  <a href="" class="col-md-12 color-3 p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>

<%= javascript_tag do %>
  window.GobiertoPeople.gencat_welcome_controller.index({
    interest_groups_events_rowchart_api_url: '<%= gobierto_people_api_v1_interest_groups_url %>',
    people_events_rowchart_api_url: '<%= gobierto_people_api_v1_people_url %>',
    department_people_events_punchcard_api_url: '<%= gobierto_people_api_v1_people_url(include_history: true, limit: 14) %>'
  });
<% end %>
