<li class="container-fluid">
  <div class="row p_v_1">

    <% if local_assigns[:display_date_range] && (display_date_range.first != display_date_range.last) %>
      <% displayable_dates = display_date_range %>
      <% dispay_range = true %>
    <% else %>
      <% displayable_dates = [local_assigns[:display_date] || display_date_range.first] %>
      <% dispay_range = false %>
    <% end %>

    <div class="<%= dispay_range ? 'col-md-7' : 'col-md-9' %>">
      <p><strong><%= link_to title, resource_path, data: { turbolinks: false }, class: "no-link" %></strong></p>
      <p><%= link_to resource.person.name, resource.person.to_path, data: { turbolinks: false }, class: "no-link" %></p>
    </div>

    <div class="<%= dispay_range ? 'col-md-5' : 'col-md-3' %> text-right">

      <p><strong>
        <% if dispay_range %>
            <%= l(displayable_dates.first, format: "%-d/%-m/%Y") %> → <%= l(displayable_dates.last, format: "%-d/%-m/%Y") %>
        <% else %>
            <%= l(displayable_dates.first, format: "%-d/%-m/%Y") %>
        <% end %>
      </strong></p>

      <%= link_to resource_path, data: { turbolinks: false } do %>
        <u><small><%= t(".view_details") %></small></u>
      <% end %>

    </div>

  </div>
</li>
