<% content_for :disable_turbolinks_hook do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<% title(t("gobierto_people.shared.app_title")) %>

<section class="row js-container-fixed">
  <div class="col-md-9">
    <p><%= t(".description") %></p>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/shared/datepicker" %>
  </div>
</section>

<section class="row">

  <div class="col-md-12">

    <div class="box--container">

      <div id="meetings-box">
        <div class="box color-1">
          <div class="color-decorator">
            <div class="box--content">
              <h1><strong><%= number_with_delimiter @home_statistics[:total_events] %></strong></h1>
              <div>
                <div><strong><%= simple_pluralize(@home_statistics[:total_events], t(".meetings_box_title_single"), t(".meetings_box_title")) %></strong></div>
                <div class="soft"><%= t(".meetings_box_subtitle") %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="interest-groups-box">
        <%= link_to gobierto_people_interest_groups_path(date_range_params), class: "no-link"  do %>
          <div class="box color-2">
            <div class="color-decorator">
              <div class="box--content">
                <h1><strong><%= number_with_delimiter @home_statistics[:total_interest_groups] %></strong></h1>
                <div>
                  <div><strong><%= simple_pluralize(@home_statistics[:total_interest_groups], t(".interest_groups_box_title_single"), t(".interest_groups_box_title")) %></strong></div>
                  <div class="soft"><%= t(".interest_groups_box_subtitle") %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id="people-box">
        <div class="box color-3">
          <div class="color-decorator">
            <div class="box--content">
              <h1><strong><%= number_with_delimiter @home_statistics[:total_people_with_attendances] %></strong></h1>
              <div>
                <div><strong><%= simple_pluralize(@home_statistics[:total_people_with_attendances], t(".people_box_title_single"), t(".people_box_title")) %></strong></div>
                <div class="soft"><%= t(".people_box_subtitle") %></div>
              </div>
              <div class="box--searchbox">
                <input class="js-search" type="text" placeholder="<%= t(".search_placeholder") %>">
                <button class="js-search-button"><i class="fas fa-search"></i><%= t(".search") %></button>
                <div class="box--results js-search-target"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<hr>

<section class="row">

  <div class="col-md-12">
    <p><strong><%= t(".departments") %></strong>&nbsp;<i>(<%= t(".departments_extra") %>)</i></p>
  </div>

  <div class="col-md-12">
    <div class="square--container js-department-squares"></div>
  </div>

</section>

<hr>

<% if trips_submodule_active? %>

  <section id="map-chart">
    <p><strong><%= t(".map_title") %></strong></p>
    <%= render "gobierto_people/shared/map", trips_statistics: @home_statistics %>
  </section>

  <hr>
<% end %>

<%= render(
      "gobierto_people/shared/invitations_and_gifts",
      invitations: @invitations,
      gifts: @gifts
    ) %>

<%= render "gobierto_people/shared/open_data_footer" %>

<%= javascript_tag do %>

  mapControllerIndexParams = {
    fromDate: '<%= filter_start_date.try(:iso8601) %>',
    toDate: '<%= filter_end_date.try(:iso8601) %>'
  }

  welcomeControllerIndexParams = {
    departments_events_rowchart_api_path: '<%= gobierto_people_api_v1_departments_path(from_date: filter_start_date, to_date: filter_end_date) %>',
    interest_groups_events_rowchart_api_path: '<%= gobierto_people_api_v1_interest_groups_path(from_date: filter_start_date, to_date: filter_end_date) %>',
    people_events_rowchart_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date) %>',
    department_people_events_punchcard_api_path: '<%= gobierto_people_api_v1_people_path(from_date: filter_start_date, to_date: filter_end_date, include_history: true, limit: 14) %>'
  }

<% end %>
